<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60000" debug="false">

    <property name="APP_NAME" value="Neo"/>
    <property name="LOG_HOME" value="/data/logs/neo"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL}"/>
    <property name="LOG_KEEP_TIME" value="30"/>

    <contextName>${APP_NAME}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-4level] [%logger{36}] [%msg]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="NEO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-4level] [%logger{36}] [%msg]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/neo.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>${LOG_KEEP_TIME}</MaxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>${LOG_LEVEL}</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
    </appender>
    <logger name="ch.qos.logback" level="ERROR" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
